<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Edit Article</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/articles/update" name="id"> p
                <input type="hidden" name="id" value="<%= article.id %>">
                <input class="form-control" type="text" name="title" placeholder="define article title"
                    value="<%= article.title %>"><br>
                <textarea class="form-control" placeholder="Write the article here" name="body" id="article"></textarea>
                <br>
                <label>Categories</label>
                <hr />
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                    <% if (category.id == article.categoryId) { %>
                    <option value="<%= category.id %>" selected><%= category.title %></option>
                    <% } else { %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                    <% } %>
                    <% }) %>

                </select>
                <br>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <%- article.body %>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [{
                value: 'First.Name',
                title: 'First Name'
            },
            {
                value: 'Email',
                title: 'Email'
            },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject(
            "See docs to implement AI Assistant")),
        init_instance_callback: () => {
            tinymce.activeEditor.setContent(document.getElementById('content').innerHTML);
        }
    });
</script>