<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Articles</h2>
    <hr>
    <a class="btn btn-success" href="/admin/articles/new">Create new Article</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article =>  { %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td>
                <td>
                    <form method="post" action="/articles/delete" onsubmit="confirmDeletion(event)">
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
    function confirmDeletion(e) {
        e.preventDefault();
        var shouldDelete = confirm('Are you sure you want to delete this article?');

        if (shouldDelete) {
            // if user confirms
            e.target.submit();
        } else {
            console.log('Deletion canceled!');
        }
    }
</script>